body {
  background-color: #f0f2f5 !important;
}
.gr {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 50%;
  margin-left: auto;
  margin-right: auto;
  color: #5c9df3;
}
.gro {
  padding-top: 15%;
}
.grow {
  text-align: center;
}
.gone {
  margin-left: 0%;
}

.page {
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}
.do {
  margin-left: 50px;
}
.abc {
  width: 400px;
}
